<nz-header style="justify-content: right"><app-browse-btn /> </nz-header>

<nz-content>
  <div
    style="
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin: 2rem;
    "
    class="homeContent"
  >
    <span style="align-self: center">
      <img src="assets/logo192.png" alt="FletNix Logo" />
    </span>
    <span style="font-size: 5rem; font-weight: bold; color: #579ce0">
      {{ header }}
    </span>
    <span style="font-size: 2em; color: white; margin-bottom: 2rem">
      Does Netflix charge you for browsing? <br />
      Fear not! Browse worry-free on FletNix!
    </span>
    <app-browse-btn />
  </div>
</nz-content>
